<h1>Top 10 TV Shows on Your Favorite Streaming Services (October 2022)</h1>
<nav>
    
    <div>
        <a routerLink="/netflix">Netflix</a>
    </div>
    <div>
        <a routerLink="/hulu">Hulu</a>
    </div>
    <div>
        <a routerLink="/prime">Amazon Prime</a>
    </div>
    <div>
        <a routerLink="/hbo">HBO Max</a>
    </div>
    <div>
        <a routerLink="/peacock">Peacock</a>
    </div>
</nav>
<router-outlet></router-outlet>

<!-- <form>
    <label>
        <h3>Which one would you watch first?</h3>
    </label>
    <button type="button">Submit</button>
</form> -->