<h1>Top 10 TV Shows on Your Favorite Streaming Services (October 2022)</h1>
<h3>Are any of these in your queue?</h3>
<nav>

    <a routerLink="/netflix">Netflix</a>
    <a routerLink="/hulu">Hulu</a>
    <a routerLink="/prime">Amazon Prime</a>
    <a routerLink="/hbo">HBO Max</a>
    <a routerLink="/peacock">Peacock</a>

</nav>
<router-outlet></router-outlet>

<!-- <form>
    <label>
        <h3>Which one would you watch first?</h3>
    </label>
    <button type="button">Submit</button>
</form> -->