<!-- <ol>
    <li>DAHMER - Monster: The Jeffrey Dahmer Story</li>
    <li>The Empress</li>
    <li>Dynasty</li>
    <li>El Rey, Vincente Fernández</li>
    <li>Conversations With a Killer: The John Wayne Gacy Tapes</li>
    <li>Cobra Kai</li>
    <li>In the Dark</li>
    <li>Malverde: El Santo Patrón</li>
    <li>Cocomelon</li>
    <li>Fate: The Winx Saga</li>
</ol> -->

<ol>
    <li *ngFor="let netflixShows of netflixShows">
        {{ netflixShows.shows }}
    </li>
<ol>
<br>
<div>
    <img src="assets/logos/netflix-logo.png"> 
</div>
